In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/messy-imdb-dataset/messy_IMDB_dataset.csv

In [7]:
import chardet

with open("/kaggle/input/messy-imdb-dataset/messy_IMDB_dataset.csv", 'rb') as f:
  rawdata = f.read()
  result = chardet.detect(rawdata)
  encoding = result['encoding']

In [6]:
!pip install chardet

Collecting chardet
  Downloading chardet-5.2.0-py3-none-any.whl.metadata (3.4 kB)
Downloading chardet-5.2.0-py3-none-any.whl (199 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.4/199.4 kB 5.3 MB/s eta 0:00:00:00:01
Installing collected packages: chardet
Successfully installed chardet-5.2.0

In [8]:
print(encoding)

Windows-1252

In [88]:
df=pd.read_csv("/kaggle/input/messy-imdb-dataset/messy_IMDB_dataset.csv",sep=';',encoding='Windows-1252')

In [89]:
df.head()

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"

In [90]:
df=df.rename(columns={'Original titlÊ':'Original title','Genrë¨':'Genre'})

In [91]:
df

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [92]:
df['Unnamed: 8'].unique()

array([nan])

In [93]:
df=df.drop(columns='Unnamed: 8')

In [94]:
df.isna().sum()

IMBD title ID      1
Original title     1
Release year       1
Genre              1
Duration           2
Country            1
Content Rating    24
Director           1
Income             1
 Votes             1
Score              1
dtype: int64

In [95]:
df['Content Rating'].unique()

array(['R', 'PG-13', 'Not Rated', 'Approved', nan, 'PG', 'Unrated', 'G'],
      dtype=object)

In [96]:
df[df['Content Rating'].isna()]

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,tt0118799,La vita B9 bella,1997-12-20,"Comedy, Drama, Romance",116,Italy1,NaN,Roberto Benigni,$ 230098753,605.648,8.6
28,tt6751668,Gisaengchung,2019-11-07,"Comedy, Drama, Thriller",132,South Korea,NaN,Bong Joon Ho,$ 257604912,470.931,8.6
36,tt0110413,LÃ©on,1995-04-07,"Action, Crime, Drama",110,France,NaN,Luc Besson,$ 19552639,1.007.598,8.5
40,tt7286456,Joker,2019-10-03,"Crime, Drama, Thriller",122,USA,NaN,Todd Phillips,$ 1074251311,855.097,8.4
41,tt1675434,Intouchables,2012-02-24,"Biography, Comedy, Drama",112,France,NaN,"Olivier Nakache, Ã‰ric Toledano",$ 426588510,736.691,8.4
47,tt0095327,Hotaru no haka,2015-10-11,"Animation, Drama, War",89,Japan,NaN,Isao Takahata,$ 516962,225.438,8.3
48,tt0095765,Nuovo Cinema Paradiso,1988-11-17,Drama,155,Italy,NaN,Giuseppe Tornatore,$ 13826605,223.050,8.3
56,tt4154756,Avengers: Infinity War,2018-04-25,"Action, Adventure, Sci-Fi",149,USA,NaN,"Anthony Russo, Joe Russo",$ 2048359754,796.486,8.2
58,tt4154796,Avengers: Endgame,2019-04-24,"Action, Adventure, Drama",181,USA,NaN,"Anthony Russo, Joe Russo",$ 2797800564,754.786,8.2
62,tt0047396,Rear Window,1955-04-14,"Mystery, Thriller",112,USA,NaN,Alfred Hitchcock,$ 37032034,432.390,8.1
63,tt2380307,Coco,2017-12-28,"Animation, Adventure, Family",105,USA,NaN,"Lee Unkrich, Adrian Molina",$ 807083670,352.455,8.1
65,tt4633694,Spider-Man: Into the Spider-Verse,2018-12-25,"Animation, Action, Adventure",117,USA,NaN,"Bob Persichetti, Peter Ramsey",$ 375540831,335.892,8.1
66,tt1187043,3 Idiots,2009-12-25,"Comedy, Drama",170,India,NaN,Rajkumar Hirani,$ 60262836,332.217,8.1
69,tt0032553,The Great Dictator,1945-06-25,"Comedy, Drama, War",125,USA,NaN,Charles Chaplin,$ 969879,197.381,8.0
70,tt0043014,Sunset Blvd.,"The 6th of marzo, year 1951","Drama, Film-Noir",110,USA,NaN,Billy Wilder,$ 299645,195.789,8.0
81,tt0066921,A Clockwork Orange,1972-09-07,"Crime, Drama, Sci-Fi",136,UK,NaN,Stanley Kubrick,$ 26903440,740.301,7.8
86,tt0093058,Full Metal Jacket,1987-10-09,"Drama, War",116,UK,NaN,Stanley Kubrick,$ 46357676,658.175,7.7
89,tt0033467,Citizen Kane,1948-11-25,"Drama, Mystery",119,USA,NaN,Orson Welles,$ 1594107,389.322,7.6
90,tt8579674,1917,2020-01-23,"Drama, War",119,USA,NaN,Sam Mendes,$ 384857224,362.897,7.6
92,tt0052357,Vertigo,1958-11-18,"Mystery, Romance, Thriller",128,USA,NaN,Alfred Hitchcock,$ 7796389,352.786,7.5
93,tt0053125,North by Northwest,1959-10-28,"Adventure, Mystery, Thriller",136,USA,NaN,Alfred Hitchcock,$ 73446,291.628,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [97]:
df['Content Rating']=df['Content Rating'].replace('Unrated','Not Rated')

In [98]:
df['Content Rating'].unique()

array(['R', 'PG-13', 'Not Rated', 'Approved', nan, 'PG', 'G'],
      dtype=object)

In [99]:
df['Content Rating']=df['Content Rating'].fillna('Not Rated')

In [100]:
df.isna().sum()

IMBD title ID     1
Original title    1
Release year      1
Genre             1
Duration          2
Country           1
Content Rating    0
Director          1
Income            1
 Votes            1
Score             1
dtype: int64

In [101]:
df.head()

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"

In [102]:
df[df['Original title'].duplicated()]

Empty DataFrame
Columns: [IMBD title ID, Original title, Release year, Genre, Duration, Country, Content Rating, Director, Income,  Votes , Score]
Index: []

In [103]:
df['Country'].unique()

array(['USA', 'US', 'New Zealand', 'UK', 'New Zesland', 'Italy', nan,
       'New Zeland', 'US.', 'Brazil', 'Japan', 'Italy1', 'South Korea',
       'France', 'Germany', 'India', 'Denmark', 'West Germany', 'Iran'],
      dtype=object)

In [104]:
map = {'US.':'USA','US':'USA','New Zesland':'New Zealand','New Zeland':'New Zealand','Italy1':'Italy'}

In [105]:

df['Country']=df['Country'].replace(map,regex=False)
df['Country'].unique()

array(['USA', 'New Zealand', 'UK', 'Italy', nan, 'Brazil', 'Japan',
       'South Korea', 'France', 'Germany', 'India', 'Denmark',
       'West Germany', 'Iran'], dtype=object)

In [106]:
ord(df['Income'].iloc[0][0])

36

In [107]:
map={' ':'','o':'0',',':''}

In [108]:
df['Income']=df['Income'].str[1:].replace(map,regex=True)

In [109]:
np.any(df['Income'].str.contains(' '))

False

In [110]:
df=df.dropna(subset='Income')

In [111]:
df['Income']=df['Income'].astype(int)

In [112]:
df=df.rename(columns={'Income':'Income(in $)'})

In [113]:
df.head()

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income(in $),Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,408035783,1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"

In [114]:
df.columns

Index(['IMBD title ID', 'Original title', 'Release year', 'Genre', 'Duration',
       'Country', 'Content Rating', 'Director', 'Income(in $)', ' Votes ',
       'Score'],
      dtype='object')

In [115]:
df=df.rename(columns={' Votes ':'Votes'})

In [116]:
df['Votes'].unique()

array(['2.278.845', '1.572.674', '2.241.615', '1.098.714', '1.780.147',
       '1.604.280', '1.183.248', '668.473', '2.002.816', '1.807.440',
       '1.755.490', '1.619.920', '672.499', '1.632.315', '1.449.778',
       '1.132.073', '991.505', '891.071', '1.449.256', '1.402.015',
       '1.234.134', '1.204.107', '1.203.825', '1.112.336', '685.856',
       '626.693', '605.648', '470.931', '388.310', '307.958', '1.308.193',
       '1.159.703', '1.155.723', '1.027.330', '1.014.218', '1.007.598',
       '974.970', '968.947', '917.248', '855.097', '736.691', '707.942',
       '690.732', '586.765', '509.953', '295.220', '225.438', '223.050',
       '211.250', '1.480.582', '1.317.856', '1.098.879', '974.734',
       '869.480', '865.510', '796.486', '768.874', '754.786', '591.251',
       '501.082', '441.115', '432.390', '352.455', '349.642', '335.892',
       '332.217', '331.045', '302.317', '197.381', '195.789', '1.229.958',
       '1.049.009', '941.683', '928.036', '896.551', '889.875', '864.461',
       '837.379', '766.589', '748.291', '740.301', '739.717', '721.343',
       '703.264', '690.480', '658.175', '639.500', '587.866', '389.322',
       '362.897', '361.028', '352.786', '291.628', '269.616', '261.504',
       '236.285', '226.427', '226.039', '214.165', '213.152'],
      dtype=object)

In [117]:
df['Votes'].str.replace('.',',')

0      2,278,845
1      1,572,674
2      2,241,615
3      1,098,714
4      1,780,147
         ...
96       236,285
97       226,427
98       226,039
99       214,165
100      213,152
Name: Votes, Length: 100, dtype: object

In [118]:
df['Votes']=df['Votes'].str.replace('.','')

In [119]:
df['Votes']=df['Votes'].astype(int)

In [120]:
df['Score'].head()

0     9.3
1     9.2
2      9.
3    9,.0
4    8,9f
Name: Score, dtype: object

In [121]:
df['Score'].unique()

array(['9.3', '9.2', '9.', '9,.0', '8,9f', '08.9', '8.9', '8..8', '8.8',
       '8:8', '++8.7', '8.7.', '8,7e-0', '8.7', '8.6', '8,6', '8.5',
       '8.4', '8.3', '8.2', '8.1', '8.0', '7.9', '7.8', '7.7', '7.6',
       '7.5', '7.4'], dtype=object)

In [122]:
df['Score'].value_counts()

Score
8.6       11
8.2        8
8.3        8
8.1        7
8.4        7
8.5        6
7.5        6
7.8        6
8.0        6
7.9        5
7.6        4
7.7        4
7.4        3
8.8        3
8.7        2
8.9        2
9.2        1
8,6        1
8,7e-0     1
8.7.       1
++8.7      1
8:8        1
8..8       1
08.9       1
8,9f       1
9,.0       1
9.         1
9.3        1
Name: count, dtype: int64

In [125]:
map = {'8,9f':'8.9','9,.0':'9.0','08.9':'8.9','8:8':'8.8','8,7e-0':'8.7','++8.7':'8.7','8..8':'8.8','8,6':'8.6','8.7.':'8.7','9.':'9.0'}

In [126]:
df['Score']=df['Score'].replace(map,regex=False).astype(float)

In [127]:
df.head()

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income(in $),Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1780147,8.9

In [128]:
df['Duration'].unique()

array(['142', '175', '152', '220', ' ', '201', 'Nan', '96', '148', 'Inf',
       '178c', '161', nan, '179', 'Not Applicable', '146', '-', '169',
       '127', '118', '121', '189', '130', '125', '116', '132', '207',
       '155', '151', '119', '110', '137', '106', '88', '122', '112',
       '150', '109', '102', '165', '89', '87', '164', '113', '98', '115',
       '149', '117', '181', '147', '120', '95', '105', '170', '134',
       '229', '153', '178', '131', '99', '108', '81', '126', '104', '136',
       '103', '114', '160', '128', '228', '129', '123'], dtype=object)

In [136]:
df['Duration']=df['Duration'].replace('c','',regex=True)

In [137]:
df.head()

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income(in $),Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1780147,8.9

In [138]:
from datetime import datetime

In [139]:
df['Release year'].unique()

array(['1995-02-10', '09 21 1972', ' 23 -07-2008', '1975-09-25',
       '1994-10-28', '22 Feb 04', '1994-03-11', '1957-09-04',
       '2010-09-24', '10-29-99', '1994-10-06', '2002-01-18',
       '23rd December of 1966 ', '1999-05-07', '01/16-03', '1980-09-19',
       '1990-09-20', '18/11/1976', '2014-11-06', '1995-12-15',
       '1991-03-05', '1977-10-20', '1998-10-30', '2000-10-03',
       '2003-05-09', '2003-04-18', '1997-12-20', '2019-11-07',
       '1948-03-11', '1955-08-19', '2000-05-19', '2006-10-27',
       '2006-12-22', '1985-10-18', '1999-08-27', '1995-04-07',
       '1991-12-19', '1995-11-30', '1994-11-25', '2019-10-03',
       '2012-02-24', '2002-10-25', '2015-02-12', '1960-10-28', '21-11-46',
       '1968-12-21', '2015-10-11', '1988-11-17', '1937-03-12',
       '2012-08-29', '2013-01-17', '2001-01-19', '2008-10-17',
       '1980-12-22', '1981-06-12', '2018-04-25', '1979-10-25',
       '2019-04-24', '1979-12-18', '2005-05-06', '1964-04-03',
       '1955-04-14', '2017-12-28', '2007-04-06', '2018-12-25',
       '2009-12-25', '1984-09-28', '1945-06-25',
       'The 6th of marzo, year 1951', '2009-10-02', '2000-01-21',
       '1995-12-01', '1983-10-21', '1992-10-09', '2004-10-22',
       '1996-03-22', '1998-03-06', '2001-03-16', '2000-12-15',
       '1972-09-07', '2010-07-07', '1984-02-34', '1976-13-24',
       '2002-01-25', '1987-10-09', '1986-09-24', '1968-12-12',
       '1948-11-25', '2020-01-23', '1985-02-15', '1958-11-18',
       '1959-10-28', '2012-11-22', '1963-10-29', '1974-03-21',
       '1982-03-18', '1965-12-20', '2011-10-21', '1953-02-05'],
      dtype=object)

In [140]:
map={'The 6th of marzo, year 1951':'06-03-1951','23rd December of 1966 ':'23-12-1966','1984-02-34':'09-12-1983','1976-13-24':'08-02-1976'}

df['Release year']=df['Release year'].replace(map,regex=False)

In [141]:
df['Release year']=pd.to_datetime(df['Release year'],format='mixed').dt.date

In [142]:
df['Release year'].unique()

array([datetime.date(1995, 2, 10), datetime.date(1972, 9, 21),
       datetime.date(2008, 7, 23), datetime.date(1975, 9, 25),
       datetime.date(1994, 10, 28), datetime.date(2004, 2, 22),
       datetime.date(1994, 3, 11), datetime.date(1957, 9, 4),
       datetime.date(2010, 9, 24), datetime.date(1999, 10, 29),
       datetime.date(1994, 10, 6), datetime.date(2002, 1, 18),
       datetime.date(1966, 12, 23), datetime.date(1999, 5, 7),
       datetime.date(2003, 1, 16), datetime.date(1980, 9, 19),
       datetime.date(1990, 9, 20), datetime.date(1976, 11, 18),
       datetime.date(2014, 11, 6), datetime.date(1995, 12, 15),
       datetime.date(1991, 3, 5), datetime.date(1977, 10, 20),
       datetime.date(1998, 10, 30), datetime.date(2000, 10, 3),
       datetime.date(2003, 5, 9), datetime.date(2003, 4, 18),
       datetime.date(1997, 12, 20), datetime.date(2019, 11, 7),
       datetime.date(1948, 3, 11), datetime.date(1955, 8, 19),
       datetime.date(2000, 5, 19), datetime.date(2006, 10, 27),
       datetime.date(2006, 12, 22), datetime.date(1985, 10, 18),
       datetime.date(1999, 8, 27), datetime.date(1995, 4, 7),
       datetime.date(1991, 12, 19), datetime.date(1995, 11, 30),
       datetime.date(1994, 11, 25), datetime.date(2019, 10, 3),
       datetime.date(2012, 2, 24), datetime.date(2002, 10, 25),
       datetime.date(2015, 2, 12), datetime.date(1960, 10, 28),
       datetime.date(2046, 11, 21), datetime.date(1968, 12, 21),
       datetime.date(2015, 10, 11), datetime.date(1988, 11, 17),
       datetime.date(1937, 3, 12), datetime.date(2012, 8, 29),
       datetime.date(2013, 1, 17), datetime.date(2001, 1, 19),
       datetime.date(2008, 10, 17), datetime.date(1980, 12, 22),
       datetime.date(1981, 6, 12), datetime.date(2018, 4, 25),
       datetime.date(1979, 10, 25), datetime.date(2019, 4, 24),
       datetime.date(1979, 12, 18), datetime.date(2005, 5, 6),
       datetime.date(1964, 4, 3), datetime.date(1955, 4, 14),
       datetime.date(2017, 12, 28), datetime.date(2007, 4, 6),
       datetime.date(2018, 12, 25), datetime.date(2009, 12, 25),
       datetime.date(1984, 9, 28), datetime.date(1945, 6, 25),
       datetime.date(1951, 6, 3), datetime.date(2009, 10, 2),
       datetime.date(2000, 1, 21), datetime.date(1995, 12, 1),
       datetime.date(1983, 10, 21), datetime.date(1992, 10, 9),
       datetime.date(2004, 10, 22), datetime.date(1996, 3, 22),
       datetime.date(1998, 3, 6), datetime.date(2001, 3, 16),
       datetime.date(2000, 12, 15), datetime.date(1972, 9, 7),
       datetime.date(2010, 7, 7), datetime.date(1983, 9, 12),
       datetime.date(1976, 8, 2), datetime.date(2002, 1, 25),
       datetime.date(1987, 10, 9), datetime.date(1986, 9, 24),
       datetime.date(1968, 12, 12), datetime.date(1948, 11, 25),
       datetime.date(2020, 1, 23), datetime.date(1985, 2, 15),
       datetime.date(1958, 11, 18), datetime.date(1959, 10, 28),
       datetime.date(2012, 11, 22), datetime.date(1963, 10, 29),
       datetime.date(1974, 3, 21), datetime.date(1982, 3, 18),
       datetime.date(1965, 12, 20), datetime.date(2011, 10, 21),
       datetime.date(1953, 2, 5)], dtype=object)

In [143]:
df.head()

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income(in $),Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1780147,8.9

In [150]:
df['Duration'].unique()

array(['142', '175', '152', '220', ' ', '201', 'Nan', '96', '148', 'Inf',
       '178', '161', nan, '179', 'Not Appliable', '146', '-', '169',
       '127', '118', '121', '189', '130', '125', '116', '132', '207',
       '155', '151', '119', '110', '137', '106', '88', '122', '112',
       '150', '109', '102', '165', '89', '87', '164', '113', '98', '115',
       '149', '117', '181', '147', '120', '95', '105', '170', '134',
       '229', '153', '131', '99', '108', '81', '126', '104', '136', '103',
       '114', '160', '128', '228', '129', '123'], dtype=object)

In [152]:
df[(df['Duration'].isin({'Nan',' ','Inf','-','Not Appliable'})) | (df['Duration'].isna())]

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income(in $),Votes,Score
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,222831817,1780147,8.9
6,tt0108052,Schindler's List,1994-03-11,"Biography, Drama, History",Nan,USA,R,Steven Spielberg,322287794,1183248,8.9
9,tt0137523,Fight Club,1999-10-29,Drama,Inf,UK,R,David Fincher,101218804,1807440,8.8
16,tt0080684,Star Wars: Episode V - The Empire Strikes Back,1980-09-19,"Action, Adventure, Fantasy",Not Appliable,USA,PG,Irvin Kershner,549265501,1132073,8.7
18,tt0073486,One Flew Over the Cuckoo's Nest,1976-11-18,Drama,-,USA,R,Milos Forman,108997629,891071,8.7

In [151]:
#only five movies finding there orignal duration online
df['Duration']=df['Duration'].fillna('136')

In [153]:
map={'Nan':'195','Inf':'139','Not Appliable':'124','-':'133',' ':'154'}

In [157]:
df['Duration']=df['Duration'].replace(map,regex=True)

In [160]:
df['Duration']=df['Duration'].astype(int)

In [161]:
df.describe()

         Duration  Income(in $)         Votes       Score
count  100.000000  1.000000e+02  1.000000e+02  100.000000
mean   136.040000  2.991255e+08  8.297713e+05    8.240000
std     31.026518  4.360335e+08  4.829340e+05    0.451485
min     81.000000  5.760000e+02  1.957890e+05    7.400000
25%    115.000000  2.374174e+07  3.890690e+05    7.900000
50%    130.000000  1.093370e+08  7.515385e+05    8.300000
75%    152.250000  4.052080e+08  1.102243e+06    8.600000
max    229.000000  2.797801e+09  2.278845e+06    9.300000

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 100
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IMBD title ID   100 non-null    object
 1   Original title  100 non-null    object
 2   Release year    100 non-null    object
 3   Genre           100 non-null    object
 4   Duration        100 non-null    int64
 5   Country         100 non-null    object
 6   Content Rating  100 non-null    object
 7   Director        100 non-null    object
 8   Income(in $)    100 non-null    int64
 9   Votes           100 non-null    int64
 10  Score           100 non-null    float64
dtypes: float64(1), int64(3), object(7)
memory usage: 9.4+ KB

In [168]:
df

,IMBD title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income(in $),Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",154,USA,R,Quentin Tarantino,222831817,1780147,8.9
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,156000000,236285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Not Rated,Sergio Leone,15000000,226039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,Not Rated,Stanley Donen,1864182,213152,7.4